@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

:root {
    --white: #fff;
    --black: black;
    --main-color: #64f58d;
    --second-main-color: rgb(2, 182, 2);
    --background-color: #ecf0f1;
    --footer-color: #7A5C58;
    --input-color: #ecf0f1;
    --social-midia-color: #95a5a6;
    /*Cores de Alertas*/
    --success-color: #47a447;
    --success-color-second: #d1e7dd;
    --success-color-third: rgba(8, 179, 8, 0.705);
    --success-color-fourth: rgba(7, 73, 7, 0.808);
    --info-color: #5bc0de;
    --info-color-second: #cff4fc;
    --warning-color: #ed9c28;
    --warning-color-second: #fff3cd;
    --danger-color: #d2322d;
    --danger-color-second: #f8d7da;

    --background-image: URL(http://localhost/clickbitesofc/clickbites/app/sistcb/assets/backgrounds/fruitsBackground) ;
}

.background-image {
    position: fixed;
    z-index: -999;
    display: block;
    width: 110%;
    height: 110%;
    top: -5%;
    left: -5%;

    background-image: var(--background-image);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);

}

/* Container Style */
.my-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    background-color: var(--white);
    border-radius: 15px;
    width: 960px;
    height: 50%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.content::before {
    content: "";
    position: absolute;
    background-color: var(--second-main-color);
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px ;

    left: 60%;
}

.description {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
}

.botao {
    border-radius: 15px;
    padding: 10px 50px;
    border-width: 1px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white);
}

/* Cadastro Style */
.first-content {
    display: flex;
    display: none;

}

/* Login Style*/
.second-content {
    position: absolute;
    display: flex;
}

.second-content .first-column {
    order: 2;
}

.second-content .second-column {
    order: 1;
}

.password {
    color: var(--black);
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}

.password::first-letter {
    text-transform: capitalize;
}

/* First Column Style*/
.first-column {
    text-align: center;
    width: 40%;
    z-index: 10;
}

.first-column .title {
    color: var(--white);
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.description-primary {
    color: var(--white);
}


.botao-primary {
    background-color: transparent;
    border: 1px solid var(--white);
    transition: ease all 0.3s;
}

.botao-primary:hover {
    background-color: var(--white);
    color: var(--second-main-color);
}

/* Second Column Style*/
.second-column {
    flex: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.second-column .title {
    color: var(--second-main-color);
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.description-second{
    color: var(--black);
}

/* Social Midia Style*/
    .list-social-midia {
        display: flex;
        list-style: none;
        
    }

    .custom-social-midia {
        margin: 10px 0;
    }

    .link-social-midia {
        margin: 10px 0;
    }

    .item-social-midia {
        border: 1px solid grey;
        border-radius: 50%;
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        cursor: pointer;
        color: var(--social-midia-color);
        transition: ease all 0.3s;
    }

    .link-social-midia:hover .item-social-midia {
        background-color: var(--second-main-color);
        color: var(--white);
        border: 1px solid var(--second-main-color);
    }

.link-social-midia:not(:first-child) {
    margin-left: 10px;
}   

/* Form Style*/
    .custom-form {
        display: flex;
        flex-direction: column;
        width: 55%;
    }

    .custom-form input{
        height: 45px;
        border: none;
        background-color: var(--input-color);
        width: 100%;
    }

    .input-label {
        background-color: var(--input-color);
        margin: 8px;
        display: flex;
        align-items: center;
    }

    .icon-modify {
        padding: 0 5px;
    }

.botao-second {
    background-color: var(--second-main-color);
    border: 1px solid var(--second-main-color);
    transition: ease all 0.3s;
    align-self: center;
}

.botao-second:hover {
    background-color: var(--white);
    color: var(--second-main-color);
}





/*
body {
    background-color: var(--main-color);
}

.d-flex {
    display: flex;
    height: 100vh;
}

.container-info {
    width: 70%;
    display: flex;
    flex-direction: row;
}

.wrapper-info {
    width: 100%;
    background-color: var(--success-color);
}

.container-login {
    width: 30%;
    display: flex;
    flex-direction: row;
}

.wrapper-login {
    width: 100%;
    background-color: var(--second-color);
}

.wrapper-login .title {
    height: 90px;
    background-color: var(--main-bg-color);
    color: var(--main-color);
    font-size: 30px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.msg-alert{
    padding: 0 25px;
}

.msg-alert a{
    color: var(--main-bg-color);
    text-decoration: none;
}

.msg-alert a:hover{
    color: var(--site-color);
}

.wrapper-login .form-login {
    padding: 25px;
}

.wrapper-login .form-login .row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}

.wrapper-login .form-login .row input,
.wrapper-login .form-login .row button{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid var(--active-color);
    font-size: 16px;
    transition: all 0.3s ease;
}
*/

/* Personalizar placeholder */

/*
.form-login .row input::placeholder
.form-login .row button::placeholder {
    color: var(--third-color);
}

.wrapper-login .form-login .row i {
    position: absolute;
    width: 47px;
    height: 100%;
    color: var(--main-color);
    font-size: 18px;
    background-color: var(--second-bg-color);
    border: 1px solid var(--active-color);
    border-radius: 5px 0 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-login .form-login .button button {
    color: var(--main-color);
    font-size: 20px;
    font-weight: 300;
    padding-left: 0;
    background-color: var(--main-bg-color);
    border: 1px solid var(--active-color);
    cursor: pointer;
}

.form-login .button button:hover {
    background: var(--second-bg-color);
}

.wrapper-login .form-login .signup-link a {
    color: var(--main-bg-color);
    text-decoration: none;
}

.form-login .signup-link a:hover {
    color: var(--site-color);
}
*/
/*Inicio Alerta*/

/*
.alert-primary{
    background-color: var(--primary-color-second);
    color: var(--primary-color);
    margin: 10px 0;
    border-radius: 4px;
    padding: 12px 7px;
}

.alert-success{
    background-color: var(--success-color-second);
    color: var(--success-color);
    margin: 10px 0;
    border-radius: 4px;
    padding: 12px 7px;
}

.alert-success-second{
    background-color: var(--success-color-third);
    color: var(--success-color-fourth);
    margin: 10px 0;
    border-radius: 4px;
    padding: 12px 7px;
}

.alert-warning{
    background-color: var(--warning-color-second);
    color: var(--warning-color);
    margin: 10px 0;
    border-radius: 4px;
    padding: 12px 7px;
}

.alert-danger{
    background-color: var(--danger-color-second);
    color: var(--danger-color);
    margin: 10px 0;
    border-radius: 4px;
    padding: 12px 7px;
}

.alert-info{
    background-color: var(--info-color-second);
    color: var(--info-color);
    margin: 10px 0;
    border-radius: 4px;
    padding: 12px 7px;
}
*/
/*Fim Alerta*/